block variables
doctype html
html
  head
    meta(charset="utf-8")
    each js_src in required_js
      script(src=js_src)
    title #{title}

  body(style="margin : 0px; overflow: hidden;")
    a-scene(
      vr-mode-ui="enabled: false"
      embedded
      arjs="debugUIEnabled: false; sourceWidth:1280; sourceHeight:960; displayWidth: 1280; displayHeight: 960;"
      renderer="logarithmicDepthBuffer: true")
      if assets !== undefined
        a-assets()
          each asset in assets
            a-asset-item(src=asset.src id=asset.id)
      each item in items
        a-marker(preset='custom' type='pattern' url=item.pattern.url)
          each model in item.models
            if model.type === "obj"
              a-entity(
                scale=model.scale.x+" "+model.scale.y+" "+model.scale.z
                obj-model="obj: url("+model.obj+"); mtl: url("+model.mtl+")"
                position=model.position.x+" "+model.position.y+" "+model.position.z
              )
            if model.type === "gltf"
              a-entity(
                scale=model.scale.x+" "+model.scale.y+" "+model.scale.z
                gltf-model="url("+model.gltf+");"
                animation-mixer=model.animation
                position=model.position.x+" "+model.position.y+" "+model.position.z
              )
            if model.type === "html"
              | !{model.data}
      a-entity(camera)